#signup{
    width: max-content;
    margin: auto;
    padding: 20px;
    box-shadow: 5px 12px 10px 5px grey;
}

.jain{
    background-color: navy;
    color: white;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}